@model CharacterAllViewModel

<div class="col d-flex justify-content-center p-3">
    <div class="card" style="">
        <img src="~/Images/character.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Height: @Model.Height</li>
            <li class="list-group-item">Mass: @Model.Mass</li>
            <li class="list-group-item">Hair color: @Model.HairColor</li>
            <li class="list-group-item">Skin color: @Model.SkinColor</li>
            <li class="list-group-item">Eye color: @Model.EyeColor</li>
            <li class="list-group-item">Birth year: @Model.BirthYear</li>
            <li class="list-group-item">Gender: @Model.Gender</li>
			@if(Model.Planet != null){
                <li class="list-group-item">Homeworld: @Model.Planet.Name</li>
            }
        </ul>
        <div class="card-body ">
            <p class="card-text">
                <a asp-controller="Specie" asp-action="Details" asp-route-id="@Model.Id"
                   class="btn btn-primary">Details</a>
                <a asp-controller="Specie" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-primary">Edit</a>
                <a asp-controller="Specie" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-primary">Delete</a>
            </p>
        </div>
    </div>
</div>