@model PlanetDetailsViewModel

@{
    ViewBag.Title = "Planet Details";
}

<div class="card mb-3" style="max-width: 90%;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/Images/planet.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">@Model.Name</h4>
                <p class="card-text"><span class="fw-bolder">Rotation period:</span> @Model.RotationPeriod</p>
                <p class="card-text"><span class="fw-bolder">Orbital period:</span> @Model.OrbitalPeriod</p>
                <p class="card-text"><span class="fw-bolder">Climate:</span> @Model.Climate</p>
                <p class="card-text"><span class="fw-bolder">Gravity:</span> @Model.Gravity</p>
                <p class="card-text"><span class="fw-bolder">Terrain:</span> @Model.Terrain</p>
                <p class="card-text"><span class="fw-bolder">Surface water:</span> @Model.SurfaceWater</p>
                <p class="card-text"><span class="fw-bolder">Population:</span> @Model.Population</p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Characters
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <partial name="_PlanetDetailsPartial" model="@Model.CharactersNames" />
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Species
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <partial name="_PlanetDetailsPartial" model="@Model.SpeciesNames" />
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Movies
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <partial name="_PlanetDetailsPartial" model="@Model.MoviesNames" />
                            </div>
                        </div>
                    </div>
                </div>
                <a asp-controller="Specie" asp-action="All" asp-route-id="@Model.Id"
                   class="btn btn-primary">Back</a>
                <a asp-controller="Specie" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-primary">Edit</a>
                <a asp-controller="Specie" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
